.App {
}


img {
  height: 50px;
}

.App-header {
  border-bottom: solid 1px #282c34;
  height: 90px;
  pointer-events: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.page {
  text-align: center;
  padding: 4rem;
}